
#centered {
	width:	500px;
	margin: auto;
	text-align:	justify;
}

#post-img {text-align: center;}
#post-fecha {
	font-size:	0.9em;
}
#post-link {
	color: #000000;
	text-decoration:	none;
}
#post-link:hover {
	font-weight:	bold;
}

#post-contenido {
	line-height:	2px;
	text-align:	justify;
	margin-left:	auto;
	margin-right:	auto;
}

#pie {
	font-style: italic;
	font-size:	0.8em;
	text-align: center;
	width: 500px;
	margin-left:	auto;
	margin-right:	auto;
}

